@media (max-width: 750px) {
    .conjunto-historial {
        flex-direction: column;
        align-items: center;
      }
      .boton-agregar{
        margin: 0;
        margin-bottom: 10px;
      }
      body .css-4uktz3-MuiPaper-root{
        width: 300px
      }
      body .css-1u6ck2-MuiTableCell-root{
        min-width: 100px !important;
      }
}