@media (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .container-botones-agregar {
    align-items: center;
  }
  .container-botones-agregar button {
    margin-bottom: 3px;
  }

  body .css-1sfdc1y-MuiTableCell-root {
    max-width: 10px;
    width: 0;
  }
  body .css-ofteri-MuiTableCell-root {
    text-align: start;
  }
  body .css-1jdfx2h-MuiTableCell-root {
    max-width: 10px;
    width: 0;
  }
  body .css-gpc4xv-MuiTableCell-root {
    text-align: start;
    width: 50%;
  }
  body
    .MuiTableCell-root
    .MuiTableCell-body
    .MuiTableCell-sizeMedium
    .css-1sfdc1y-MuiTableCell-root {
    width: 20px;
  }
  body .css-quj9j6-MuiTable-root {
    min-width: 250px;
  }
  .container-verdes-reserva {
    flex-direction: column;
    align-items: center;
  }
  .reserva-compost {
    margin-left: 0;
  }
}
body .css-fsultb-MuiPaper-root-MuiTableContainer-root {
  border-radius: 0;
  margin-bottom: 0px;
  box-shadow: none;
}
body .css-b4yaxo-MuiButtonBase-root-MuiButton-root {
  padding: 5px 15px;
  border: 1px solid currentColor;
  transition: background-color 250ms, box-shadow 250ms, color 250ms;
}
.MuiButtonBase-root.MuiButton-root.boton-aceptar-2 {
  background-color: #618760;
}
.MuiButtonBase-root.MuiButton-root.boton-aceptar-2:hover {
  background-color: #416340;
}
.MuiButtonBase-root.MuiButton-root.boton-cancelar-2 {
  background-color: #ff4f4f;
}
.MuiButtonBase-root.MuiButton-root.boton-cancelar-2:hover {
  background-color: #cb4040;
}
body .css-1xme32l-MuiPaper-root-MuiTableContainer-root {
  max-width: 100%;
  border-radius: 0px;
  box-shadow: none;
  
}
