/* Navbar Estilos */
.navbar {
    background-color: #000;
    /* Fondo negro */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    /* Sombra para dar profundidad */
    padding: 10px 20px;
    /* Espaciado interno para darle mejor aspecto */
}

.navbar .MuiButton-root {
    margin-right: 10px;
    /* Espacio entre los botones */
    transition: color 0.3s ease;
    /* Transición suave al cambiar el color */
}

.navbar .MuiButton-root:hover {
    background-color:  rgba(0, 0, 0, 0.2);
    /* Color de texto cuando pasa el mouse */
}

.navbar .MuiTypography-root {
    font-family: 'Roboto', sans-serif;
    /* Cambiar la tipografía si lo deseas */
    letter-spacing: 0.05em;
    /* Espaciado entre letras */
}

body {
    margin: 0;
    padding-top: 64px;
    /* Para evitar que el contenido quede debajo del navbar fijo */
}